**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/*.user
**/*.dbmdl
**/*.jfm
**/docker-compose*.yml
**/Dockerfile*
**/secrets.dev.yaml
**/.toolversions
**/charts
**/README.md
**/LICENSE
