## .NET
bin/
obj/
out/
publish/

## IDE
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User secrets
secrets.json

## OS
Thumbs.db
.DS_Store

## Docker
docker-compose.override.yml
